<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oren Goldenberg</title>
    <link href="/index.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,100,300,700,600" rel="stylesheet" type="text/css">
    <script src="/bower/foundation/js/vendor/custom.modernizr.js"></script>
  </head>
<body>
<div id="main-wrapper">
  <a class="toggle-menu hide-for-large-up" href="/">
    <h1>OREN&nbsp;GOLDENBERG</h1>
  </a>
  <div class="row">
    <section role="main">
      <div class="row">
        <div id="view-container">
          {{{body}}}
        </div>
      </div>
    </section>
    <section role="complementary">
      <nav role="navigation">
      	<a href="/videos"><h1 class="show-for-large-up large-screen-logo">OREN&nbsp;GOLDENBERG</h1></a>
        <ul class="nav-bar">
          <li class="categories">
            <ul>
              {{#each tags}}
                <li><a href="/videos-tagged/{{this}}">{{decode this}}</a></li>
              {{/each}}
            </ul>
          </li>
          <li><a href="/pages/about">ABOUT</a></li>
          <li><a href="/pages/contact">CONTACT</a></li>
          <li class="friendly-cats">
            view all:
            {{#each friendlyCats}}
              <a href="/videos-tagged/{{this}}">{{decode this}}</a>
            {{/each}}
          </li>
        </ul>
      </nav>
    </section>
  </div>
</div>
<script>
window.allVideos = {{{allVideos}}};
</script>
<script src="/bower/foundation/js/vendor/jquery.js"></script>
<script src="/bower/foundation/js/foundation/foundation.js"></script>
<script src="/scripts.js"></script>
<script>
  $(document).ready(function() {
    $('.toggle-menu').on('click', function(e) {
      if (!matchMedia(Foundation.media_queries.large).matches) {
        e.preventDefault();
        $('body').toggleClass('active');
      }
    });
    $('a:not(.toggle-menu)').on('click', function(e) {
      $('body').removeClass('active');
    });
    window.tricks.markActiveLinks();
    window.tricks.clipifyClippers();
  });
</script>
</body>
</html>
